################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GoobImage/x64/Debug
/GoobImage/product
/GoobImage/.vs/GoobImage
/.vs
/GoobImage/Debug
/GoobImage/.vs
