.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
}

.modal-container {
    max-width: 200px;
    min-height: 200px;
    width: 100%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #ffffff;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.75);
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
    padding: 1rem 2rem;
}

.login-btn {
    z-index: -1;
    border: 1px solid transparent;
}

.closeOnModal {
    cursor: pointer;
    position: fixed;
    top: 8px;
    right: 8px;
}

.error-email-p {
    visibility: visible;
    color: red;
}

.invisible-email-p {
    visibility: hidden;
}

.spinner-container {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.spinner-column {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: black;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }
    50%, 100% {
        top: 24px;
        height: 32px;
    }
}

.left-column {
    float: left;
}

.rigth-column {
    float: right;
}

#product-view-box {
    width: 70%;
    min-height: 70%;
    margin-top: 10vh;
    padding: 10px;
}

.fake-img {
    background-color: goldenrod;
    color: black;
    height: 300px;
    width: 400px;
}

#product-category {
    text-decoration: none;
    color: lightblue;
}

#product-category:hover {
    color: cornflowerblue;
    transition-duration: 0.5s;
}

#product-header-container {
    position: relative;
    width: 100%;
}

.right {
    text-align: right;
}

.large-text {
    font-size: 1.5em;
}

.small-text {
    font-size: 0.8em;
}

.centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.green {
    color: green;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.header {
    font-size: 2em;
}

.valid-email-p {
    visibility: visible;
    color: green;
}

.middle-text {
    text-align: center;
}

.reg-form {
    text-align: center;
    border: 3px solid black;
    width: 300px;
    margin: auto;
}

.button-link {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
}

.button-link:hover {
    background-color: #0062cc;
    color: #fff;
}

.page-wrapper {
    display: flex;
    height: 100%;
}

.sidebar-left,
.sidebar-right {
    flex: 0 0 15%;
    background-color: black;
}

.main-content {
    justify-content: center;
    margin-bottom: 100px;
}

.main-page-div {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    height: auto;
    background-color: #001219;
    text-align: center;
    padding: 20px;
}

.center-text {
    text-align: center;
}

.footer {
    background-color: #212529;
}

.product-card {
    width: 150px;
    transition: background-color 0.5s ease-in-out;
    border-radius: 10%;
    min-height: 300px;
}

.product-card:hover {
    background-color: #14213d;
    cursor: pointer;
}

.card-key-div {
    display: inline-block;
    margin: 5px;
}

.product-card-picture {
    width: 140px;
    border-radius: 10%;
    height: 100px;
}

.profile-picture {
    width: 300px;
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #001219;
}

.page-number {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.page-number:hover {
    cursor: pointer;
    transform: translate3d(0, 0, -10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #001219;
    border: 1px solid black;
    height: 350px;
}

.search-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.about-picture {
    width: 600px;
}

.price-search-field {
    width: 75px;
}

.meme {
    width: 300px;
}

.horny-p-tag {
    font-size: 50px;
    color: red;
}

.horny-div {
    background-color: lightgrey;
}

.fancy-font {
    font-family: "Franklin Gothic Book", sans-serif;
}

.white-text {
    color: white;
}

.filter {
    font-size: 2em;
    margin: auto;
}

.bold {
    font-weight: bold;
    text-decoration: underline;
}

.margin {
    margin: 5px;
}

body {
    background-color: black;
}

.menu-bar {
    background-color: #007bff;
}

.big-letters {
    font-size: 25px;
}

input {
    background-color: #001219;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: 2px solid white;
    outline: none;
    color: white;
}

input::placeholder {
    color: white;
}

.from {
    border-right-style: solid;
}

select {
    color: white;
    background-color: #001219;
}
